save-exact=true

# Enable pre/post-install which are disabled by default. Installing peer deps which is also disabled by default
auto-install-peers=true
enable-pre-post-scripts=true

# Compatibility
strict-peer-dependencies=false
lockfile-version-strict=false
